<html>
<head>
	<title>image</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
  	<!--
  	<div>
    	<img src = {{ imgpath }} alt="Image Placeholder">
    	<a href={{ imgpath }} download>download plot </a>

    </div>
-->
{% if imgs.get('selectmenu',0)!=0 %}
<div>
	<img src="data:image/png;base64,{{ imgs['selectmenu'] }}" >
	<br>
	<a href="data:image/png;base64,{{ imgs['selectmenu'] }}"> Right click and save to Download Plot </a>
</div>
{% endif %}
{% if imgs.get('line',0)!=0 %}
<div>
	<img src="data:image/png;base64,{{ imgs['line'] }}" >
	<br>
	<a href="data:image/png;base64,{{ imgs['line'] }}"> Right click and save to Download Plot </a>
</div>
{% endif %}
{% if imgs.get('bar',0)!=0 %}
<div>
	<img src="data:image/png;base64,{{ imgs['bar'] }}" >
	<br>
	<a href="data:image/png;base64,{{ imgs['bar'] }}"> Right click and save to Download Plot </a>
</div>
{% endif %}
{% if imgs.get('barh',0)!=0 %}
<div>
	<img src="data:image/png;base64,{{ imgs['barh'] }}" >
	<br>
	<a href="data:image/png;base64,{{ imgs['barh'] }}"> Right click and save to Download Plot </a>
</div>
{% endif %}
</body>
</html>
